body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.parallax-background {
    background-image: url('chaton1.jpeg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.parallax-background-bottom {
    background-image: url('chaton2.jpeg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.parallax-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1, h2, h3 {
    text-align: center;
    color: white;
}