body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

h1 {
    font-size: 52px;
    color: rgb(218, 60, 86);
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    margin: 8px 0;
    padding: 0;
    font-size: 32px;
    color: rgb(87, 27, 53);
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    color: rgb(87, 27, 53);
    text-align: center;
}

/* NAVBAR */

.navbar {
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 20px;
}

.div_icon {
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius:100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 18px;
    margin-bottom: 4px;
    width: auto;
    fill: rgb(255, 114, 137);
}

.nav_text {
    color: rgb(255, 114, 137);
    font-size: 11px;
    letter-spacing: 1.2px;
    padding: 0;
    margin: 0;
}

.div_navbar_items {
    display: flex;
    flex-direction: column;
}

/* CONTENT TOTAL */

.container_total {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin: 80px 80px 0px 120px;
    padding: 80px;
}

.spacer{
    height: 80px;
    width: 100;
}

/* PREMIERE PARTIE */

.container_p1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
}

.profilepic {
    width: 250px;
    height: auto;
    border: 8px solid;
    border-radius: 250px;
    border-color: rgb(255, 114, 137);
}

.div_name_title {
    margin:40px;
    text-align: center;
}

/* DEUXIEME PARTIE */

.container_p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.div_exp {
    margin: 40px 0;
}

/* TROISIEME PARTIE */

.container_p3 {
    margin: 120px 0 80px 0;
    display: flex;
    justify-content: center;
}

.div_socials {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 8px;
    background-color: white;
}

.linkedin {
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius: 8px;
}

.discord {
    width: 40px;
    height: auto;
    margin: 8px;
    border-radius: 8px;
}