body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(189, 189, 189);
}

input, select {
    margin: 4px;
    padding: 8px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: rgb(189, 189, 189);
    box-shadow: 
    inset 2px 2px 5px rgba(66, 66, 66, 0.40), 
    inset -2px -2px 5px rgba(255, 255, 255, 0.5); 
}

.button {
    background-color: rgb(189, 189, 189);
    box-shadow: 
    2px 2px 5px rgba(82, 82, 82, 0.25),
    -2px -2px 5px rgba(255, 255, 255, 0.45); 
}

.container {
    display: flex;
    align-self: center;
    align-items: stretch;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
    background-color: rgb(189, 189, 189);
    width: 300px;
    box-shadow: 
        20px 20px 40px rgba(103, 103, 103, 0.25), 
        -20px -20px 40px rgba(255, 255, 255, 0.45), 
        inset -10px -10px 20px rgba(230, 230, 230, 0.25), 
        inset 10px 10px 20px rgba(101, 96, 96, 0.1); 
}

h1{
    text-align: center;
}
