.container {
    display: flex;
    justify-content: center;
    align-items: center;
 } 

 .centered-div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.custom-select {
    height: 40px; 
}