body {
    margin: 0;
    padding: 0;
    background-color: pink; /* Fond d'écran rose */
    text-align: center; /* Centrer le contenu */
}

.container1 {
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.zalando-container {

    display: inline;
}



.container3{
    display: flex;
    margin: auto;
}

.ventesuniques-container {

    display: inline;
}


.container2 {
    max-width: auto;
}

h1 {
    color: white; /* Couleur du texte en blanc */
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    width: 200px; /* Largeur des images */
    margin: 0 10px; /* Marge entre les images */
}

.separator {
    border-top: 2px solid black; /* Ligne horizontale */
    margin: 20px 0;
}

p.copyright {
    text-align: right; /* Alignement sur le côté droit */
    font-style: italic; /* Police en italique */
    font-family: monospace; /* Police monospace */
}