body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

#baloonDiv {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: red;
    cursor:pointer
}